<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>

<body>
    <!-- form表单 action是表单往哪里（url）提交，为空则是当前页面 -->
    <!-- form表单 method是用哪种方法提交 -->
    <!-- label标签 要有name属性 -->
    <!-- form表单中要有submit按钮进行提交数据 -->
    <form action="" method="post">
        <div>
            <label>用户名:
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>密码:
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>

</html>